## Oefeningen 5: Database beheren

In [ ]:
import os
from database import Database

### Setup

In [ ]:
# Delete database if it exists
try:
    os.remove("../oefeningen5en6.db")
except FileNotFoundError:
    pass
db = Database("../oefeningen5en6.db")

In [ ]:
# Foreign keys aanzetten
db.query("PRAGMA foreign_keys = ON")

### Oefening 5.1: Personen tabel aanmaken

In [ ]:
db.query("""
CREATE TABLE Personen (
    Id INTEGER PRIMARY KEY,
    Naam TEXT NOT NULL,
    Achternaam TEXT NOT NULL
);
""")

### Oefening 5.2: Boeken tabel aanmaken

In [ ]:
db.query("""
CREATE TABLE Boeken (
    Id INTEGER PRIMARY KEY,
    Titel TEXT NOT NULL
);
""")

### Oefening 5.3: Koppel tabel aanmaken

In [ ]:
db.query("""
CREATE TABLE KoppelPersoonBoek (
    PersoonId INTEGER NOT NULL,
    BoekId INTEGER NOT NULL,
    
    CONSTRAINT PK_PersoonBoek PRIMARY KEY(PersoonID, BoekId),
    
    CONSTRAINT FK_Persoon FOREIGN KEY(PersoonId) REFERENCES Personen(Id)
        ON DELETE CASCADE ON UPDATE CASCADE,
    
    CONSTRAINT FK_Boek FOREIGN KEY(BoekId) REFERENCES Boeken(Id)
        ON DELETE CASCADE ON UPDATE CASCADE
);
""")

In [ ]:
# Controleer tabellen
db.list_tables()

### Oefening 5.4: Personen en boeken aanmaken

In [ ]:
db.query("""
    INSERT INTO Personen
        (Naam, Achternaam)
    VALUES
        ('Anna', 'De Boer'),
        ('Henk', 'Jansen'),
        ('Petra', 'Molenaar')
    ;
""")

In [ ]:
# Check het resultaat
db.query("SELECT * FROM Personen")

In [ ]:
db.query("""
    INSERT INTO Boeken
        (Titel)
    VALUES
        ('Boek A'),
        ('Boek B'),
        ('Boek C')
    ;
""")

In [ ]:
# Check het resultaat
db.query("SELECT * FROM Boeken")

### Oefening 5.5: Koppel personen en boeken

In [ ]:
# Geldige koppelingen
db.query("""
INSERT INTO KoppelPersoonBoek VALUES
(1, 1),
(1, 3),
(2, 2),
(2, 3),
(3, 1);
""")

In [ ]:
# Check het resultaat
db.query("SELECT * FROM KoppelPersoonBoek")

In [ ]:
# En nu met de volledige data
db.query("""
SELECT *
FROM Personen prs
LEFT JOIN KoppelPersoonBoek kpl ON prs.Id = kpl.PersoonId
LEFT JOIN Boeken bkn ON kpl.BoekId = bkn.Id
""")

In [ ]:
# Duplicaat record geeft foutmelding, vanwege PRIMARY KEY
db.query("INSERT INTO KoppelPersoonBoek VALUES(1, 1);")

In [ ]:
# Ongeldig persoon geeft foutmelding
db.query("INSERT INTO KoppelPersoonBoek VALUES(4, 1);")

In [ ]:
# Ongeldig boek geeft foutmelding
db.query("INSERT INTO KoppelPersoonBoek VALUES(1, 4);")

### Oefening 5.6: Rijen wijzigingen

In [ ]:
db.query("SELECT * FROM Personen;")

In [ ]:
# Verander ID van persoon 1 naar 4
db.query("UPDATE Personen SET Id = 4 WHERE Id = 1;")

In [ ]:
# Check of de wijziging correct is doorgevoerd
db.query("SELECT * FROM Personen;")

In [ ]:
# Merk op dat de wijziging automatisch in de koppeltabel is doorgevoerd!
db.query("""
SELECT *
FROM Personen prs
LEFT JOIN KoppelPersoonBoek kpl ON prs.Id = kpl.PersoonId
""")

### Oefening 5.7: Rijen verwijderen

In [ ]:
# Verwijder boek met ID = 1
db.query("""DELETE FROM Boeken WHERE Id = 1;""")

In [ ]:
# Check dat het boek weg is uit de Boeken tabel
db.query("SELECT * FROM Boeken;")

In [ ]:
# Merk op dat het boek ook weg is uit de koppel tabel!
db.query("SELECT * FROM KoppelPersoonBoek;")