# Exercises 1: Solutions

In [2]:
import pandas as pd

## Missing data

In [ ]:
# Missing values result in float data type.
miss = pd.Series([1, 2, 3, None])
miss

In [ ]:
type(miss[3])

In [ ]:
miss.isna()

In [ ]:
# Pandas `Int64` type allows integers with missing values.
miss = pd.Series([1, 2, 3, None], dtype="Int64")
miss

In [ ]:
type(miss[3])

In [ ]:
miss.isna()

## Splitting multiple values

In [12]:
s = pd.Series(["a,b,c", "d,e"])

In [ ]:
# Split using map().
# Note: String values are converted to lists.
s.map(str.split)

In [ ]:
# Or using str accessor.
s.str.split(",")

In [ ]:
# Use explode() to split into rows.
s.str.split(",").explode()

## Recode values

In [ ]:
# Create raw data values.
raw = pd.Series(["A", "A", "A", "B", "B", "C", "C",  "D", "E"])

In [ ]:
# Get top 3 values.
raw.value_counts().head(3)

In [ ]:
# Get top 3 values as a list.
top = raw.value_counts().head(3).index

In [ ]:
# Use a lambda function to recode.
raw.map(lambda v: v if v in top else "other")

### What about missing values?

In [3]:
# Create raw data values.
raw = pd.Series(["A", "A", "A", "B", "B", "C", "C",  "D", "E", None, None, None])

In [ ]:
# Get top 3 values as a list
# Note: value_counts excludes missings by default.
top = raw.value_counts().head(3).index
top

In [ ]:
# Preserve missing values using extra condition.
raw.map(lambda v: v if v in top or v is None else "other")

### Wrap up

In [ ]:
# Combine into a single function.
def recode(values, top=3, other="other"):
    """Recode keeping only most common values."""
    top = values.value_counts().head(3).index
    return values.map(lambda v: v if v in top or v is None else other)


recode(raw)

In [ ]:
# Combine into a single function.
def recode(values, top=3, other="other"):
    """Recode keeping only most common values."""
    top = values.value_counts().head(3).index
    return (
        values
        .dropna()
        .map(lambda v: v if v in top else other)
        .reindex(values.index)
    )


recode(raw)