In [1]:
import sqlite3
import datetime as dt

In [ ]:
# Connect to an in-memory database.
connection = sqlite3.connect(":memory:")
connection

In [ ]:
# Create a Cursor object.
cursor = connection.cursor()
cursor

## Create customer table

In [ ]:
# Create a customer table.
# Create a customer table.
cursor.execute("""
    CREATE TABLE Klanten (
        KlantId INTEGER PRIMARY KEY,
        Voornaam TEXT,
        Achternaam TEXT NOT NULL,
        Geboortedatum DATE
    );
""")

## Insert customers

In [ ]:
# List of customer records.
customers = [
    {"Voornaam": "Noah", "Achternaam": "Versteeg", "Geboortedatum": None},
    {"Voornaam": "Mark", "Achternaam": "Vos", "Geboortedatum": dt.date(1998, 1, 4)},
    {"Voornaam": "Bart", "Achternaam": "Poot", "Geboortedatum": dt.date(1955, 8, 21)},
]

In [ ]:
# Write a parametrized query to insert the customers above.
cursor.executemany(
    "...",
    customers
)

In [ ]:
# Define a customer with a GeboorteDatum of 1234567890.
customer = {"Voornaam": "Test", "Achternaam": "Geval", "Geboortedatum": 1234567890}

# Insert the customer using a parametrized query.
cursor.execute(
    "...",
    customer
)

## Read customers

In [ ]:
# SELECT all customers from the database.

In [ ]:
# Check data type for the GeboorteDatum column.