# DataFrame

In [2]:
import datetime as dt

import numpy as np
import pandas as pd

In [ ]:
# DataFrame construction using a dict.
pd.DataFrame(
    {
        "col_int":   [1, 2, 3, 4],
        "col_float": [1.1, 2.2, 3.3, 4.4],
        "col_str":   list("ABCD"),
    }
)

In [ ]:
# Or using a matrix and column / index descriptions.
pd.DataFrame(
    data=(
        (1, 1.1, "A"),
        (2, 2.2, "B"),
        (3, 3.3, "C"),
        (4, 4.4, "D"),
    ),
    columns=["col_int", "col_float", "col_str"],
    index=["a", "b", "c", "d"],
)

In [ ]:
# However, most often you will load data from a file.
pd.read_csv(
    "../0_data/persons/personal_data.csv",
    header=None,
    names=["name", "gender", "age"],
)

## Descriptive Statistics

In [ ]:
# Create dummy data.
dummy_df = pd.DataFrame(
    {
        "col_int": [1, 2, 3, 4],
        "col_float": [1.1, 2.2, 3.3, 4.4],
        "col_str": list("ABCD"),
    },
    index=["alpha", "beta", "gamma", "delta"]
)
dummy_df

In [ ]:
# DataFrame dimensions: Tuple(nrows, ncolumns).
dummy_df.shape

In [ ]:
# Ger row labels (index) using index attribute.
dummy_df.index

In [ ]:
# Get column names using columns attribute.
# Note: column names are an Index too.
dummy_df.columns

In [ ]:
# List column types using dtypes attribute.
# Note: Returns series with column names as index.
dummy_df.dtypes

In [ ]:
# DataFrame also provides a describe() method.
# Note: Only includes numeric columns by default.
dummy_df.describe()

In [ ]:
# You can specify data types using include parameter
# Example options: "number", "object", "category".
dummy_df.describe(include=["object"])

In [ ]:
# The info method provides more technical details.
dummy_df.info()

In [ ]:
# Describe omits object data from memory usage by default!
# Use memory_usage="deep" to see the actual memory usage.
dummy_df.info(memory_usage="deep")

## Selecting Data

In [3]:
# Create dummy data.
dummy_df = pd.DataFrame(
    {
        "col_int": [1, 2, 3, 4],
        "col_float": [1.1, 2.2, 3.3, 4.4],
        "col_str": list("ABCD"),
    },
    index=["alpha", "beta", "gamma", "delta"]
)

In [ ]:
# String => Selects column as a Series
dummy_df["col_int"]

In [ ]:
type(dummy_df["col_int"])

In [ ]:
# List => Select column(s) as a DataFrame
dummy_df[["col_int", "col_float"]]

In [ ]:
# List => Even a single column returns a DataFrame!
dummy_df[["col_int"]]

In [ ]:
# Slice => Select rows using a numeric range.
# Note: Selection includes row 0 and 1.
dummy_df[0:2]

In [ ]:
# Slice: Can also use index labels.
# Note: Selection includes "gamma"!
dummy_df["alpha":"gamma"]

### Selecting Rows and Columns

In [ ]:
# Select rows and columns in two steps:
# Select rows first and then columns.
dummy_df[0:2][["col_int", "col_float"]]

In [ ]:
# Selectie van rijen en kolommen met .loc[]
# Merk op: Loc werkt met labels voor zowel rijen als kolommen!
dummy_df.loc[
    # rijen, [kolommen]
    "a":"b", ["int", "float"]
]

In [ ]:
# Met .iloc[] kun je positionele selectie maken
# Merk op: Zowel rijen als kolommen *moeten* positioneel...
dummy_df.iloc[0:2, [0, 1]]

### Conditional Selection

In [4]:
# Select rows using boolean values
mask = [True, False, True, False]
dummy_df[mask]

       col_int  col_float col_str
alpha        1        1.1       A
gamma        3        3.3       C

In [13]:
# Use a logical operator to create a series of boolean values
dummy_df["col_int"] < 3

alpha     True
beta      True
gamma    False
delta    False
Name: col_int, dtype: bool

In [11]:
# Then use it to select DataFrame rows
dummy_df[dummy_df["col_int"] < 3]

       col_int  col_float col_str
alpha        1        1.1       A
beta         2        2.2       B

In [15]:
# Or use the query method instead
dummy_df.query("col_int < 3")

       col_int  col_float col_str
alpha        1        1.1       A
beta         2        2.2       B

In [19]:
# Combining multiple conditions is easy using query
dummy_df.query("col_int < 3 or col_str in ('A', 'C')")

       col_int  col_float col_str
alpha        1        1.1       A
beta         2        2.2       B
gamma        3        3.3       C

### Samenvatting selecties

**Kolommen selecteren**

- `df[<str>]`        => Selecteert 1 kolom als `pandas.Series`.
- `df[[<str>]]`      => Selecteert 1 of meer kolommen als `pandas.DataFrame`.

**Rijen selecteren**

- `df[<slice>]`      => Selecteert enkele rijen en alle kolommen als `pandas.DataFrame`.
- `df.query(<str>)`  => Selecteerd rijen die voloen aan de query als `pandas.DataFrame`.

**Rijen en kolommen selecteren**

- `df.loc[<slice>, <str>]`  => Selects rows and single column as `pandas.Series`.
- `df.loc[<slice>, <list>]`  => Selects rows and column(s) as `pandas.DataFrame`.
- `df.iloc[<slice>, <list>]`  => Same as `loc` but using positional indexing.

# Kolommen aanmaken / verwijderen

In [ ]:
def maak_scores():
    return pd.DataFrame({
        "id": ["a", "b", "c", "d"],
        "score": [4, 6, 9, 8],
    })

scores = maak_scores()
scores

In [ ]:
# Je kunt waardes direct toekennen aan een kolom.
# Merk op: Originele DataFrame is gewijzigd (in place)!
scores["voldoende"] = scores["score"] > 5.5
scores

In [ ]:
# Reset scores
scores = maak_scores()
scores

In [ ]:
def aantal_voldoendes(df):
    df["voldoende"] = df["score"] > 5.5
    return df["voldoende"].sum()


# Gebruiker wil alleen aantal voldoendes weten...
print(aantal_voldoendes(scores))

# Maar krijgt er onverwacht een kolom bij!
scores

In [ ]:
# Reset scores
scores = maak_scores()

In [ ]:
scores

In [ ]:
# Nettere manier via assign()
scores.assign(voldoende=scores["score"] > 5.5)

In [ ]:
# Merk op: Originele DataFrame is nu niet gewijzigd!
scores

In [ ]:
# Meerdere kolommen tegelijk aanmaken.
# Merk op: Gebruik lambda functie wanneer kolom niet in originele DataFrame zit!
(
    scores
    .assign(

        # Gebaseerd op bestaande kolom.
        geslaagd=scores["score"] > 5.5,
        
        # Gebaseerd op nieuwe kolom (uit vorige stap).
        geslaagd_tekst=lambda df: df["geslaagd"].replace({True: "Geslaagd", False: "Gezakt"}),

    )
)

# Functies toepassen

In [ ]:
dummy_df = pd.DataFrame({
    "voornaam": ["henk", "INGRID", "Joop"],
    "achternaam": ["jansen", "MAASSEN", "Braak"],
    "leeftijd": [45, 26, 44],
})
dummy_df

In [ ]:
# Functies op kolommen; identiek aan Series.
dummy_df["voornaam"].map(str.capitalize)

In [ ]:
def print_info(row):
    """Print informatie over een rij"""
    print("Type:    ", type(row))
    print("Index:   ", row.index)
    print("Waardes: ", row.values)
    print("-" * 65)

In [ ]:
# Functies op rijen; gebruik apply()
# Merk op: axis=1 geeft aan dat we over kolommen werken
dummy_df.apply(print_info, axis=1)

In [ ]:
def volledige_naam(persoon):
    """Genereer volledige naam uit voor en achternaam."""
    voornaam = persoon["voornaam"].strip().capitalize()
    achternaam = persoon["achternaam"].strip().capitalize()
    
    return f"{voornaam} {achternaam}"

In [ ]:
# Gebruik apply() om functie op rij toe te passen
dummy_df.apply(volledige_naam, axis=1)

In [ ]:
def volledige_naam(persoon, initialen=False):
    """Genereer volledige naam uit voor en achternaam."""
    achternaam = persoon["achternaam"].strip().capitalize()
    
    if initialen:
        voornaam = persoon["voornaam"][0].upper() + "."
    else:
        voornaam = persoon["voornaam"].strip().capitalize()
    
    return f"{voornaam} {achternaam}"

In [ ]:
# Additionele argumenten worden doorgegeven aan de functie
dummy_df.apply(
    volledige_naam,
    axis=1,
    
    # Argument voor volledige_naam()
    initialen=True,
)

In [ ]:
# Merk op: Functie retourneert dict met meerdere waardes
def naam_opschonen(persoon):
    """Schoon voor en achternaam op."""
    voornaam = persoon["voornaam"].strip().capitalize()
    achternaam = persoon["achternaam"].strip().capitalize()
    
    return {"voornaam": voornaam, "achternaam": achternaam}

In [ ]:
# Door result_type "expand" op te geven worden twee kolommen aangemaakt.
# Merk op: Resultaat is nu een DataFrame!
dummy_df.apply(
    naam_opschonen,
    axis=1,
    result_type="expand",
)

In [ ]:
# Met applymap() pas je een functie toe op alle waardes in een DataFrame.
# Merk op: De leeftijd kolom is numeriek en wordt daarom uitgesloten.
dummy_df[["voornaam", "achternaam"]].applymap(str.capitalize)

# Groeperen en aggregeren

In [ ]:
# Dummy dataset
dummy_df = pd.DataFrame({
    "id": ["a", "b", "c", "d", "e", "f", "g", "h", "i"],
    "stad": ["Amsterdam"] * 3 + ["Utrecht"] * 3 + ["Beek"] * 3,
    "provincie": ["Noord-Holland"] * 3 + ["Utrecht"] * 3 + ["Gelderland"] * 2 + ["Limburg"],
    "leeftijd": [22, 41, 36, 27, 22, 56, 72, 44, 39],
    "score": [8, 7, 4, 9, 6, 7, 6, 8, 7],
})
dummy_df

In [ ]:
# Met groupby maak je gegroepeerde data aan.
dummy_df.groupby("stad")

In [ ]:
# Loop door de groepen
for stad, df in dummy_df.groupby("stad"):
    print("Naam stad: ", stad)
    print(df)
    print("-" * 40)

In [ ]:
# Totaal per stad.
# Merk op: stad is de index van het DataFrame.
dummy_df.groupby("stad").sum()

In [ ]:
# Met agg() kun je per kolom aangeven welke aggregatie je wilt.
(
    dummy_df
    .groupby("stad")
    .agg({
        "leeftijd": "mean",
        "score": "sum",
    })
)

In [ ]:
# Je kun een lijst met functies per kolom opgeven
# Dit zorgt wel voor een vervelende MultiIndex voor de kolommen...
(
    dummy_df
    .groupby("stad", as_index=False)
    .agg({
        "leeftijd": ["mean", "std"],
        "score": ["sum", "min", "max"],
    })
)

In [ ]:
# Betere syntax
tmp = (
    dummy_df
    .groupby("stad", as_index=False)
    .agg(
        leeftijd_gemiddeld=("leeftijd", "mean"),
        leeftijd_deviatie=("leeftijd", "std"),
        score_totaal=("score", "sum"),
        score_minimum=("score", "min"),
        score_maximum=("score", "max"),
    )
)
tmp

In [ ]:
tmp["leeftijd_gemiddeld"]

In [ ]:
(
    dummy_df
    .groupby(["stad", "provincie"], as_index=False)
    .agg({
        "leeftijd": ["mean", "std"],
        "score": ["sum", "min", "max"],
    })
)

# DataFrames samenvoegen

## pandas.concat()

Opemrkingen

- Gebruik `pd.concat()` om 2 of meer DataFrames samen te voegen.
- Concat probeert index / kolommen aan elkaar te matchen.

In [ ]:
df1 = pd.DataFrame(
    {
        "col_1": [1, 2, 3],
        "col_2": [4, 5, 6],
    },
    index=["a", "b", "c"],
)
df1

In [ ]:
# Merk op: Gedeeltelijke overlap tussen index / kolommen.
df2 = pd.DataFrame(
    {
        "col_2": [1, 2, 3],
        "col_3": [4, 5, 6],
    },
    index=["b", "c", "d"],
)
df2

In [ ]:
# Concat op basis van index / rijen.
# Scenario: Dezelfde metingen voor verschillende entiteiten.
# Vergelijkbaar met SQL UNION ALL.
#
#
# Merk op:
# - Ontbrekende waardes niet-gedeelde kolommen.
# - Dubbele waardes in de index
pd.concat(
    [df1, df2],
    axis=0,         # alternatief: "index"
)

In [ ]:
# Concat op basis van kolommen.
# Scenario: Verschillende metingen voor dezelfde entiteiten
#
# Merk op:
# - Indices worden uitgelijnd.
# - Ontbrekende waardes voor niet-gedeelde indices.
# - col_2 zit er dubbel in!
pd.concat(
    [df1, df2],
    axis=1         # alternatief: "columns"
)

In [ ]:
# Gebruik join parameter om alleen gedeelde rijen te krijgen.
# Merk op: standaard staat join op "outer".
pd.concat(
    [df1, df2],
    axis="columns",
    join="inner",
)

## DataFrame.join()

Opmerkingen:

- Met `join()` voeg je 2 DataFrames samen.
- Koppeling standaard op basis van indices.

In [ ]:
# Merk op: Foutmelding vanwege dubbele kolom (col_2)
df1.join(df2)

In [ ]:
# Geef (tenminste een) achtervoegsel op om fout te verhelpen
df1.join(df2, rsuffix="_right")

Types koppelingen:

- `left`: linker DataFrame bepaalt welke rijen meekomen (standaard).
- `right`: rechter DataFrame bepaalt welke rijen meekomen.
- `inner`: alleen gedeelde rijen komen mee.
- `outer`: alle rijen komen mee.
- `cross`: cartesiaans product van de rijen.

Merk op: vergelijkbaar met de standaard SQL JOIN types.

In [ ]:
# Voorbeeld van outer join
df1.join(df2, rsuffix="_right", how="outer")

## DataFrame.merge()

Opmerkingen:

- De `merge()` methode biedt meer opties dan `join()`.
- Gebruik `merge()` tenzij je koppelt op indices.

In [ ]:
left = pd.DataFrame({
    "naam": ["Henk", "Ingrid", "Henk"],
    "plaats": ["Amsterdam", "Amsterdam", "Rotterdam"],
    "leeftijd": [24, 56, 33],
})
left

In [ ]:
right = pd.DataFrame({
    "naam": ["Henk", "Ingrid", "Henk", "Sanne"],
    "plaats": ["Amsterdam", "Amsterdam", "Rotterdam", "Rotterdam"],
    "score": [4, 5, 6, 7],
})
right

In [ ]:
# Merge door gebruik te maken van naam kolom.
# Merk op:
# - Dubbele rijen voor dubbele namen (Henk).
# - Automatisch _x en _y voor dubbele kolommen (plaats).
left.merge(right, on="naam", how="left")

In [ ]:
# Merge op basis van meerdere kolommen (naam + plaats)
# Merk op: Geen dubbele rijen en kolommen meer.
left.merge(right, on=["naam", "plaats"], how="left")

In [ ]:
# Gebruik validate om koppeling te controleren.
# Geldige waardes zijn "1:1", "1:m", "m:1" en "m:m".
left.merge(right, on=["naam", "plaats"], validate="1:1")

In [ ]:
# Foutmelding als alleen op naam gekoppeld wordt vanwege duplicaten.
left.merge(right, on="naam", validate="1:1")

In [ ]:
# Met indicator krijg je een _merge kolom met de bron voor de rij.
left.merge(right, on=["naam", "plaats"], how="outer", indicator=True)

# Melt en pivot

In [ ]:
df = pd.DataFrame(
    {
        "Temperatuur": [11.2, 15.3, 14.8, 12.5, 10.5],
        "Zonuren": [5.5, 7.5, 6.8, 5.6, 4.6],
        "Neerslag": [3.5, 0.5, 0.0, 0.0, 3.4],
    },
    index=pd.date_range("2022-3-1", "2022-3-5")
)
df

In [ ]:
#Tip: Pandas plot geeft snel inzicht in de data
df.plot(marker=".")

In [ ]:
# Met melt() transformeer je naar long-format.
# Merk: Kolomnaam komt in "variable", waarde in "value".
df.melt()

In [ ]:
# Behoud index door ignore_index op False te zetten
df.melt(ignore_index=False)

In [ ]:
# Gebruik var_name en value_name om kolomnamen aan te passen
df.melt(
    var_name="Meting",
    value_name="Waarde",
)

In [ ]:
# Voeg datum toe als kolom
df = df.assign(Datum=df.index).reset_index(drop=True)
df

In [ ]:
# Gebruik id_vars en value_vars om kolommen op te geven
df.melt(
    
    id_vars=["Datum"],
    value_vars=["Temperatuur", "Neerslag"],
    
    var_name="Meting",
    value_name="Waarde",
)

## Pivot

In [ ]:
# Maak long-format aan
df_long = df.melt(id_vars="Datum", var_name="Meting", value_name="Waarde")
df_long

In [ ]:
# Pivot naar wide-format
df_wide = df_long.pivot(
    index="Datum",
    columns="Meting",
    values="Waarde",
)
df_wide

In [ ]:
# Merk op: Naam van de index kolom behouden op index
df_wide.index

In [ ]:
# Merk op: Naam van de waarde kolom behouden op kolom index
df_wide.columns