### Basic data types

In [ ]:
i = 5
f = 3.5
s = "3.6"
t = 1, 2, 3
d = {"a": 1, "b": 2, "c": 3}

In [ ]:
type(i)

In [ ]:
type(f)

In [ ]:
type(s)

In [ ]:
type(t)

In [ ]:
type(d)

### Conversies

In [ ]:
# float => int: negeert alles achter de punt
int(f)

In [ ]:
s

In [ ]:
# str => float (geldige waarde)
float(s)

In [ ]:
# str => int; ongeldige waarden geeft ValueError
int(s)

### Samengestelde data types

In [ ]:
t

In [ ]:
# Eerste element is index 0
t[0]

In [ ]:
# Buiten index bereik; IndexError
t[3]

In [ ]:
# len functie geeft aantal elementen
len(t)

In [ ]:
# slice uit een tuple: index 0 tot 2
t[0:2]

In [ ]:
# slice tot einde: rechts open
t[1:]

In [ ]:
# negatieve index, telt terug van laatste element
t[0:-1]

In [ ]:
d

In [ ]:
# dict werkt met sleutels (str, int, etc)
d["a"]

In [ ]:
# niet bestaande sleutel geeft KeyError
d["x"]

In [ ]:
# opvragen met default, geen KeyError
d.get("x", "Oeps deze sleutel bestaat niet!")

In [ ]:
# met len() krijg je het aantal items in een dict
len(d)

In [ ]:
# conversie naar list: lijst van sleutels
list(d)

In [ ]:
# alternatieve manier om alle sleutels te krijgen...
d.keys()

In [ ]:
# ... of juist alle waardes
d.values()

### Wiskundige operatoren

In [ ]:
i

In [ ]:
# kwadraat
i ** 2

In [ ]:
# normaal delen
i / 2

In [ ]:
# integer delen; negeert alles achter de punt
i // 2

In [ ]:
# rest bij deling
i % 2

### Tekst data

In [ ]:
first_name = "Henk"
last_name = "Jansen"

In [ ]:
# old-school samenvoegen met +
first_name + " " + last_name

In [ ]:
# of via format-string
f"{first_name} {last_name}"

In [ ]:
# of met format, dat iets flexibeler is
template = "{fn} {ln}"

In [ ]:
# merk op: template is gewoon een string
type(template)

In [ ]:
# pas als we format() gebruiken worden de variabelen ingevuld
template.format(fn=first_name, ln=last_name)

In [ ]:
# opties voor weergave van variabelen
# 15s = 15 characters string, 6d = 6 digits, 8.2f = 8 digits float met 2 decimalen
"| {name:15s} | {leeftijd:6d} | {score:8.3f} | ".format(name="Henk", leeftijd=55, score=3.65854)

### Logische operatoren

In [ ]:
i

In [ ]:
# Simpele gelijk aan
i == 5

In [ ]:
# test identieke objecten; gaat op voor getallen
i is 5

In [ ]:
# gelijke tuples
(1, 2, 3) == (1, 2, 3)

In [ ]:
# zijn ook identieke objecten
(1, 2, 3) is (1, 2, 3)

In [ ]:
# de waardes van deze lijsten zijn gelijk...
[1, 2, 3] == [1, 2, 3]

In [ ]:
# maar het zijn NIET dezelfde objecten!
[1, 2, 3] is [1, 2, 3]

In [ ]:
# waardes in t
t

In [ ]:
# in checkt of waarde voorkomt in een set
1 in t

In [ ]:
# gebruik not om check om te draaien
4 not in t

In [ ]:
# combineer checks met and
1 in t and 4 in t

In [ ]:
# of or
1 in t or 4 in t

In [ ]:
# pas op met combineren and en or: gebruik haken
1 in t or 4 in t and 2 in t