In [7]:
import numpy as np
import pandas as pd

# Banking data: Preparation

In [3]:
df = pd.read_csv("../0_data/banking/bank-additional-full.csv", sep=";")
df.shape

(41188, 21)

## Stateless preparation

In [4]:
# Drop duration as it cannot be used in prediction
df = df.drop(columns="duration")

In [8]:
# Set 999 as NaN in pdays
df["pdays"] = df["pdays"].replace({999: np.NaN})

## Categorical features

In [13]:
# Encode categorical features...
# But what if a new job category appears?
pd.get_dummies(df["job"]).sample(10)

,admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown
8429,0,1,0,0,0,0,0,0,0,0,0,0
3585,0,0,0,0,1,0,0,0,0,0,0,0
35366,0,1,0,0,0,0,0,0,0,0,0,0
18906,0,0,0,0,0,0,0,0,0,1,0,0
6631,0,1,0,0,0,0,0,0,0,0,0,0
22569,0,0,0,0,1,0,0,0,0,0,0,0
35622,1,0,0,0,0,0,0,0,0,0,0,0
29614,0,0,0,0,0,0,0,1,0,0,0,0
16711,0,0,0,0,0,0,0,1,0,0,0,0
29573,0,0,0,0,0,0,0,0,0,1,0,0