# Data types

In [ ]:
i = 5
f = 3.7
s = "3.7"
t = 1, 2, 3
l = [1, 2, 3]
d = {"a": 1, "b": 2, "c": 3}

In [ ]:
for _ in i, f, s, t, l, d:
    print(_, "=", type(_))

## Conversies

In [ ]:
# float => int: negeert alles achter de punt
int(f)

In [ ]:
s

In [ ]:
# str => float (geldige waarde)
float(s)

In [ ]:
# str => int; ongeldige waarde geeft ValueError
# merk op: levert geen 3 op zoals int(3.7)
int(s)

## List / Tuple

In [ ]:
l

In [ ]:
# Eerste element is index 0
l[0]

In [ ]:
# Buiten index bereik; IndexError
l[3]

In [ ]:
# len functie geeft aantal elementen
len(l)

In [ ]:
# slice uit een tuple: index 0 tot 2
l[0:2]

In [ ]:
# slice tot einde: rechts open
l[1:]

In [ ]:
# negatieve index, telt terug van laatste element
l[0:-1]

In [ ]:
# waarde toekennen
l[0] = 0
l

In [ ]:
# kan alleen toekennen aan bestaande index
# gebruik .append() om waardes toe te voegen
l[3] = 4

In [ ]:
# lijst vermenigvuldigen
[1, 2, 3] * 3

In [ ]:
zeroes = [[0] * 3] * 3
zeroes

In [ ]:
zeroes[0][0] = 1
zeroes

## Dict

In [ ]:
d

In [ ]:
# dict werkt met sleutels (str, int, etc)
d["a"]

In [ ]:
# niet bestaande sleutel geeft KeyError
d["x"]

In [ ]:
# opvragen met default, geen KeyError
d.get("x", "standaard waarde")

In [ ]:
# met len() krijg je het aantal items in een dict
len(d)

In [ ]:
# conversie naar list: lijst van sleutels
list(d)

In [ ]:
# alternatieve manier om alle sleutels te krijgen...
d.keys()

In [ ]:
# ... of juist alle waardes
d.values()

### Tekst

In [ ]:
first_name = "Henk"
last_name = "Jansen"

In [ ]:
# indexeren / slices net als lijsten
print(first_name[0])
print(first_name[0:3])

In [ ]:
# optellen voegt strings samen
first_name + " " + last_name

In [ ]:
# vermenigvuldigen herhaalt waarde
first_name * 3

In [ ]:
# f-string vult variabelen direct in
f"{first_name} {last_name}"

In [ ]:
# format geeft meer controle
template = "{fn} {ln}"
template.format(fn=first_name, ln=last_name)

In [ ]:
# opmkaak voor weergave van variabelen
# 15s = string van 15 characters
# 15.2f = float van 15 cijfers en 2 decimalen

data = {"name": "Jan", "last_name": "Jansen", "score": 7.6245}

header_tmpl = "| {0:15s} | {1:15s} | {2:>15s} |"
data_tmpl = "| {0:15s} | {1:15s} | {2:15.2f} |"

print(header_tmpl.format(*data))
print(data_tmpl.format(*data.values()))

## Gelijk of identiek

In [ ]:
# gelijke tuples
(1, 2, 3) == (1, 2, 3)

In [ ]:
# zijn ook identieke objecten
(1, 2, 3) is (1, 2, 3)

In [ ]:
# gelijke lijsten..
[1, 2, 3] == [1, 2, 3]

In [ ]:
# maar NIET dezelfde objecten!
[1, 2, 3] is [1, 2, 3]