## Oefeningen 3: Koppelen tabellen

In [ ]:
from database import Database
db = Database("oefeningen.db")

### Inhoud tabellen

In [ ]:
db.query("SELECT * FROM KoppelA")

In [ ]:
db.query("SELECT * FROM KoppelB")

### 1. A left join B

In [ ]:
db.query("""
SELECT *
FROM KoppelA
LEFT JOIN KoppelB USING(Id);
""")

### 2. B left join A

In [ ]:
db.query("""
SELECT *
FROM KoppelB
LEFT JOIN KoppelA USING(Id);
""")

### 3. A inner join B

In [ ]:
db.query("""
SELECT *
FROM KoppelA
INNER JOIN KoppelB USING(Id);
""")

### 4. A join B

In [ ]:
db.query("""
SELECT *
FROM KoppelA
JOIN KoppelB USING(Id);
""")

### Extra: UNION en UNION ALL

Gebruik UNION om gegevenssets samen te voegen, bijvoorbeeld:

In [ ]:
db.query("""
SELECT Id FROM KoppelA
UNION
SELECT Id FROM KoppelB
;
""")

Zoals je kunt zien retourneert UNION alleen de unieke waardes; duplicaten worden verwijderd.

Met UNION ALL krijg je alle waardes terug, inclusief duplicaten:

In [ ]:
db.query("""
SELECT Id FROM KoppelA
UNION ALL
SELECT Id FROM KoppelB
;
""")

Met UNION ALL kun je een OUTER JOIN simuleren in SQLite:

In [ ]:
db.query("""
SELECT
    Id, a.Tekst, b.Tekst
FROM KoppelA a
LEFT JOIN KoppelB b USING(Id)

UNION ALL

SELECT
    Id, a.Tekst, b.Tekst
FROM KoppelB b
LEFT JOIN KoppelA a USING (Id)
WHERE a.Id IS NULL
""")