## Oefeningen 1: Transacties

In [ ]:
from database import Database
db = Database("oefeningen.db")

In [ ]:
db.query("SELECT * FROM Transacties ORDER BY RANDOM() LIMIT 5")

### 1. Aantal transacties

In [ ]:
db.query("SELECT COUNT(*) FROM Transacties;")

### 2. Hoeveel laag BTW tarief

In [ ]:
db.query("SELECT COUNT(*) FROM Transacties WHERE BTWTarief = 'laag';")

### 3. Totaal exclusief BTW

In [ ]:
db.query("""
SELECT
    *,
    PrijsExclusief * Aantal AS TotaalExclusief
FROM Transacties
;
""")

### 4. Totaal inclusief BTW

In [ ]:
db.query("""
SELECT
    *,
    PrijsExclusief * Aantal AS TotaalExclusief,
    CASE
        WHEN BTWTarief = 'laag' THEN PrijsExclusief * Aantal * 1.06
        ELSE PrijsExclusief * Aantal * 1.21
    END AS TotaalInclusief
FROM Transacties
;
""")

### 5. Grootste / kleinste transacties

In [ ]:
db.query("""
    SELECT
        *,
        CASE
            WHEN BTWTarief = 'laag' THEN PrijsExclusief * Aantal * 1.06
            ELSE PrijsExclusief * Aantal * 1.21
        END AS TotaalInclusief
    FROM Transacties
    ORDER BY TotaalInclusief DESC
    LIMIT 3
;
""")

In [ ]:
db.query("""
SELECT *
FROM (
    SELECT
        *,
        CASE
            WHEN BTWTarief = 'laag' THEN PrijsExclusief * Aantal * 1.06
            ELSE PrijsExclusief * Aantal * 1.21
        END AS TotaalInclusief
    FROM Transacties
)
ORDER BY TotaalInclusief DESC
LIMIT 3
;
""")

### 6. Omzet in Januari

In [ ]:
db.query("SELECT MIN(BestelDatum), MAX(BestelDatum) FROM Transacties")

In [ ]:
db.query("""
SELECT
    COUNT(*) AS AantalTransacties,
    SUM(Aantal) AS AantalItems,
    SUM(TotaalInclusief) AS Omzet
FROM (
    SELECT
        Aantal,
        CASE
            WHEN BTWTarief = 'laag' THEN PrijsExclusief * Aantal * 1.06
            ELSE PrijsExclusief * Aantal * 1.21
        END AS TotaalInclusief
    FROM Transacties
    WHERE BestelDatum BETWEEN '2020-01-01' AND '2020-01-31'
);
""")