## Oefeningen 5: Database beheren

In [ ]:
from database import Database

### Setup

In [ ]:
db = Database("eigen_database.db")

# Foreign keys aanzetten
db.query("PRAGMA foreign_keys = ON")

In [ ]:
db.query("DROP TABLE KoppelPersoonBoek;")
db.query("DROP TABLE Personen;")
db.query("DROP TABLE Boeken;")

### 1. Personen tabel aanmaken

In [ ]:
db.query("""
CREATE TABLE Personen (
    Id INTEGER PRIMARY KEY,
    Naam TEXT NOT NULL,
    Achternaam TEXT NOT NULL
);
""")

### 2. Boeken tabel aanmaken

In [ ]:
db.query("""
CREATE TABLE Boeken (
    Id INTEGER PRIMARY KEY,
    Titel TEXT NOT NULL
);
""")

### 3. Koppel tabel aanmaken

In [ ]:
db.query("""
CREATE TABLE KoppelPersoonBoek (
    PersoonId INTEGER NOT NULL,
    BoekId INTEGER NOT NULL,
    
    CONSTRAINT PK_PersoonBoek PRIMARY KEY(PersoonID, BoekId),
    
    CONSTRAINT FK_Persoon FOREIGN KEY(PersoonId) REFERENCES Personen(Id)
        ON DELETE CASCADE ON UPDATE CASCADE,
    
    CONSTRAINT FK_Boek FOREIGN KEY(BoekId) REFERENCES Boeken(Id)
        ON DELETE CASCADE ON UPDATE CASCADE
);
""")

In [ ]:
# Controleer tabellen
db.list_tables()

### 4. Personen en boeken aanmaken

In [ ]:
db.query("""
    INSERT INTO Personen
        (Naam, Achternaam)
    VALUES
        ('Anna', 'De Boer'),
        ('Henk', 'Jansen'),
        ('Petra', 'Molenaar')
    ;
""")

In [ ]:
db.query("""
    INSERT INTO Boeken
        (Titel)
    VALUES
        ('Boek A'),
        ('Boek B'),
        ('Boek C')
    ;
""")

### 5. Koppelen personen en boeken

In [ ]:
# Geldige koppelingen
db.query("""
INSERT INTO KoppelPersoonBoek VALUES
(1, 1),
(1, 3),
(2, 2),
(2, 3),
(3, 1);
""")

In [ ]:
db.query("SELECT * FROM KoppelPersoonBoek")

In [ ]:
db.query("""
SELECT *
FROM Personen prs
LEFT JOIN KoppelPersoonBoek kpl ON prs.Id = kpl.PersoonId
LEFT JOIN Boeken bkn ON kpl.BoekId = bkn.Id
""")

In [ ]:
# Duplicaat record geeft foutmelding
db.query("""
INSERT INTO KoppelPersoonBoek VALUES
(1, 1);
""")

In [ ]:
# Ongeldig persoon geeft foutmelding
db.query("""
INSERT INTO KoppelPersoonBoek VALUES
(4, 1);
""")

In [ ]:
# Ongeldig boek geeft foutmelding
db.query("""
INSERT INTO KoppelPersoonBoek VALUES
(1, 4);
""")

### 4. Rijen wijzigingen

In [ ]:
db.query("SELECT * FROM KoppelPersoonBoek;")

In [ ]:
db.query("""
UPDATE Personen SET Id = 4 WHERE Id = 1;
""")

In [ ]:
db.query("SELECT * FROM Personen;")

In [ ]:
db.query("SELECT * FROM KoppelPersoonBoek;")

### 5. Rijen verwijderen

In [ ]:
db.query("""DELETE FROM Boeken WHERE Id = 1;""")

In [ ]:
db.query("SELECT * FROM Boeken;")

In [ ]:
db.query("SELECT * FROM KoppelPersoonBoek;")