In [4]:
import sqlite3
import datetime as dt

In [ ]:
# Connect to an in-memory database.
connection = sqlite3.connect(":memory:")
connection

In [ ]:
# Create a Cursor object.
cursor = connection.cursor()
cursor

## Create table

In [ ]:
# Create a customer table.
cursor.execute("""
    CREATE TABLE Klanten (
        KlantId INTEGER PRIMARY KEY,
        Voornaam TEXT,
        Achternaam TEXT NOT NULL,
        Geboortedatum DATE
    );
""")

## Insert customers

In [8]:
# List of customer records.
customers = [
    {"Voornaam": "Noah", "Achternaam": "Versteeg", "Geboortedatum": None},
    {"Voornaam": "Mark", "Achternaam": "Vos", "Geboortedatum": dt.date(1998, 1, 4)},
    {"Voornaam": "Bart", "Achternaam": "Poot", "Geboortedatum": dt.date(1955, 8, 21)},
]

In [ ]:
# Write a parametrized query to insert the customers above.
cursor.executemany(
    """
    INSERT INTO Klanten
        (Voornaam, Achternaam, Geboortedatum)
    VALUES (:Voornaam, :Achternaam, :Geboortedatum);
    """,
    customers
)
cursor.rowcount

In [ ]:
# Insert a customer with GeboorteDatum of 1234567890.
customer = {"Voornaam": "Test", "Achternaam": "Geval", "Geboortedatum": 1234567890}

# Insert customer using a parametrized query.
cursor.execute(
    """
    INSERT INTO Klanten
        (Voornaam, Achternaam, Geboortedatum)
    VALUES (:Voornaam, :Achternaam, :Geboortedatum);
    """,
    customer
)
cursor.rowcount

## Read customers

In [ ]:
# SELECT all customers from the database.
result = cursor.execute("SELECT * FROM Klanten")
customers = result.fetchall()
customers

In [ ]:
# Check data type for the GeboorteDatum column.
for customer in customers:
    print(customer[3], type(customer[3]))

## SQL Injection

In [14]:
# Customer selection query template.
template = "SELECT * FROM Klanten WHERE Achternaam = '{lastname}'"

In [ ]:
# Craft a condition that is always true...
lastname = "x' OR 1 = 1 OR 'x"
formatted = template.format(lastname=lastname)
formatted

In [ ]:
# Query returns all our customer data!
for row in cursor.execute(formatted).fetchall():
    print(row)