## Transactions

In [1]:
import sqlite3

In [ ]:
# Create the connection and enable foreign keys on it.
# db = sqlite3.connect(":memory:", autocommit=False)
db = sqlite3.connect(":memory:", isolation_level="DEFERRED")
db.execute("PRAGMA foreign_keys = 1")

In [3]:
cursor = db.cursor()

#### Create tables

In [ ]:
# Create the table for adresses.
cursor.execute(
    """
    CREATE TABLE Adressen (
        AdresId INTEGER,
        Postcode TEXT NOT NULL,
        Huisnummer INTEGER NOT NULL,
        Toevoeging TEXT NULL,
        PRIMARY KEY(AdresId)
    );
    """
)

In [ ]:
# Create the customer table which references the adresses table.
cursor.execute(
    """
    CREATE TABLE Klanten (
        KlantId INTEGER,
        Voornaam TEXT NOT NULL,
        Achternaam TEXT NOT NULL,
        GeboorteDatum DATE,
        LeverAdresId INTEGER NOT NULL,
        PRIMARY KEY(KlantId)
        FOREIGN KEY(LeverAdresId) REFERENCES Adressen(AdresId)
    );
    """
)

### Insert data

In [ ]:
# Insert address first so we can refer to it.
cursor.execute(
    """
    INSERT INTO Adressen
        (Postcode, Huisnummer, Toevoeging)
    VALUES
        ('1234 AB', 3, NULL)
    ;
    """
)

In [ ]:
# Get the automatically generated address ID.
address_id = cursor.lastrowid
address_id

In [ ]:
# Create the customer with the generated address ID.
cursor.execute(
    """
    INSERT INTO Klanten
        (Voornaam, Achternaam, GeboorteDatum, LeverAdresId)
    VALUES
        ('Ingrid', 'Jansen', '1984-09-06', ?)
    ;
    """,
    [address_id]
)

In [ ]:
# Verify nothing was actually inserted using DB Browser.

In [12]:
# Everything was OK; commit changes to the database
db.commit()

In [ ]:
# Verify data was inserted using DB Browser.

In [ ]:
# Insert another address and get the ID.
cursor.execute(
    """
    INSERT INTO Adressen
        (Postcode, Huisnummer, Toevoeging)
    VALUES
        ('5678 CD', 4, "A")
    ;
    """
)
address_id = cursor.lastrowid
address_id

In [ ]:
# Try to insert an invalid customer record...
cursor.execute(
    """
    INSERT INTO Klanten
        (Voornaam, Achternaam, GeboorteDatum, LeverAdresId)
    VALUES
        (NULL, 'Knol', '1957-08-23')
    ;
    """,
    [address_id]
)

In [ ]:
# Verify nothing was inserted using DB Browser.

In [19]:
db.rollback()

In [ ]:
# Note that adress insertion was undone.
db.execute("SELECT * FROM Adressen").fetchall()